[Desktop Entry]
Name=Snowboard Kids 2: Recompiled
Type=Application
Terminal=false
Icon=SnowboardKids2Recompiled
Exec=SnowboardKids2Recompiled
GenericName=SnowboardKids2Recompiled
Categories=Game;
