@use 'sass:math';

.bottom-left {
    display: flex;
    position: absolute;
    bottom: space(44);
    left: space(64);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: space(220);
    height: space(112);
}

.bottom-left__rock {
    position: absolute;
    top: space(3);
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    decorator: image("?/launcher/version_rock" none contain);
}

.bottom-left__label {
    position: relative;
    top: space(2);
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
    font-size: space(27);
    font-family: Fredoka;
    font-weight: 400;
}
