
/*
    Example layout:
        <button class="menu-list-item menu-list-item--right">
            <div class="menu-list-item__bullet">•</div>
            <div class="menu-list-item__label">Setup controls</div>
        </button>
    - Variants:
        .menu-list-item--right (align to right side)
    - Optional:
        - <div class="subtitle-title__disclaimer">Coming Soon™</div>

*/

.menu-list-item {
    color: #1081e0;
    display: flex;
    position: relative;
    align-self: flex-end;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: space(29) space(19);
    border-radius: $border-radius-sm;
    margin-bottom: space(6);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &--right {
        flex-direction: row-reverse;
        align-content: flex-end;

        .menu-list-item__bullet {
            margin-left: space(12);
            opacity: 1;
        }

        &.menu-list-item:focus:not(:disabled, [disabled]),
        &.menu-list-item:hover:not(:disabled, [disabled]) {
            decorator: none;
        }
    }

    &:focus:not(:disabled, [disabled]),
    &:hover:not(:disabled, [disabled]) {
        color: #ffffff;
        decorator: none;

        .menu-list-item__background--inactive {
            opacity: 0;
        }

        .menu-list-item__background--active {
            opacity: 1;
        }

        .menu-list-item__bullet {
            opacity: 1;
        }
    }

    &:not(:disabled, [disabled]) {
        @extend %nav-all;
    }

    &:disabled, &[disabled] {
        opacity: 0.5;
        tab-index: none;
        cursor: default;
    }

}

.menu-list-item__label {
    @extend %label-lg;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.menu-list-item__background {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-color: white;
    z-index: 0;
}

.menu-list-item__background--active {
    opacity: 0;
}

.menu-list-item__background--inactive {
    opacity: 1;
}

.menu-list-item__bullet {
    margin-right: space(12);
    opacity: 0;
}
